title: "Js2coffee"
---
#all
  %hgroup#heading
    %h1 Js2Coffee
    %h5
      The JavaScript to CoffeeScript compiler.
      %a{href: 'http://github.com/rstacruz/js2coffee'}!= "More info &rarr;"
  %form
    #error
      hi
    %textarea#editor
    %textarea#output

%script{type: 'text/javascript', charset: 'utf-8', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'}
%script{type: 'text/javascript', charset: 'utf-8', src: 'http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.5/underscore-min.js'}
%script{type: 'text/javascript', charset: 'utf-8', src: 'scripts/js2coffee.min.js'}
%script{type: 'text/javascript', charset: 'utf-8', src: 'scripts/script.js'}
