!!! 5
%html
  %head
    %title= page.title

    %meta(charset='UTF-8')
    -# Use the latest IE engine, or Chrome frame.
    %meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    -# Mobile viewport optimization. j.mp/bplateviewport
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')

    -# Standard SEO meta
    - if meta.keywords?
      %meta{:name => 'keywords', :content => meta.keywords}
    - if meta.description?
      %meta{:name => 'description', :content => meta.description}

    != style_tag 'css/style.css'

    %link(href='http://fonts.googleapis.com/css?family=Muli:regular,bold' rel='stylesheet' type='text/css')

  %body
    #all
      != yield
